@page
@model BiblioTech.Pages.Admin.Editor.EditModel
@{
}
<form method="Post">
    <div class="form-group">
        <label>Nom:</label>
        <input type="text" class="form-control" value="@Model.edt.name" name="Nom" placeholder="Nom">
    </div>
    <div class="form-group">
        <label>Email address:</label>
        <input type="text" class="form-control" value="@Model.edt.email" name="Email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Télephone</label>
        <input type="text" class="form-control" value="@Model.edt.telephone" name="Telephone" placeholder="Telephone">
    </div>
    <div class="form-group">
        <label>Adresse</label>
        <input type="Text" class="form-control" value="@Model.edt.adresse" name="Adresse" placeholder="Adresse">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="Text" class="form-control" value="@Model.edt.descr" name="Adresse" placeholder="Adresse">
    </div>
    <input type="hidden" class="form-control" value="@Model.edt.id" name="id" placeholder="Adresse">
    <small class="form-text h3 text-danger">@Model.Errormessage</small>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>